
body {
  background-image: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80); /* gambar background*/
  background-repeat: repeat; /* ulangi gambar */
  background-position: center; /* Posisi gambar di tengah */
  background-size: cover; /* Resize background untuk menutupi layar */
  font-family: "Syne", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.image-container {
  text-align: center;
  width: 100%;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  min-width: 50% !important;
}

/* Responsive */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .link {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* hover link */
.w3-yellow,
.w3-hover-purple:hover,
.w3-text-black {
  color: rgba(255, 204, 217) !important;
  background-color: rgba(255, 255, 179, 0.3) !important;
}
